body {
    margin: 0;
    background-color: rgb(0, 0, 0);
}

video {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* Chat */
.chatMessage {
    margin-bottom: 5px;
}

.chatImage {
    margin-top: -15px;
    transform: translateY(30%);
}

/* Layout */
.left-element {
    position: absolute;
    height: 100%;
    width: 75%;
}

.right-element {
    background: #18181b;
    position: absolute;
    right: 0;
    height: 100%;
    width: 25%;
}
